<h1>Listing slides</h1>

<% if not @lesson.slides.empty? %>
  <%= link_to 'Presentation', course_lesson_slide_path(@course,@lesson,@lesson.slides.first) %>
<% end %>





<ol class="sortable">
<% @slides.order("position").each do |slide| %>
<div style=" border:5px solid black; -moz-transform: scale(0.5);">


<li>

  <strong><%= slide.title %></strong>
<br>

<%= raw slide.content %>
<%= slide.position %>
<br>
<%= link_to 'Show', [@course,@lesson,slide] %>
<%= link_to 'Edit', edit_course_lesson_slide_path(@course,@lesson,slide) %>
<%= link_to 'Destroy', [@course,@lesson,slide], method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<% if slide.root? %>
<%= link_to 'Add extra', new_course_lesson_slide_path(:parent_id => slide.id) %>
<% end %>
<% if slide.has_children? %>
<%= link_to 'Show extras', course_lesson_slides_path(:parent_id => slide.id) %>
<% end %>
</li>
</div>

    <% end %>
    
</ol>



<br>
<% if @lesson.slides.empty? or @slides.first.root? %>
  <%= link_to 'New Slide', new_course_lesson_slide_path(@course,@lesson) %>
<% else %>
  <%= link_to 'Add extra', new_course_lesson_slide_path(:parent_id => @slides.first.parent_id) %>
  <br>
  <%= link_to 'Back to main thread', course_lesson_slides_path(@course,@lesson) %>
<% end %>
