<p id="notice"><%= notice %></p>

<div>

<p id="title">
  <strong><%= @slide.title %></strong>
</p>

</div>

<div id="content"><%= raw @slide.content %>
<br>
<% if @slide.has_children? %>

  <strong><p style="font-size: 30px;"><%= link_to 'Approfondimento', course_lesson_slide_path(@course,@lesson, @slide.children.first) %></p></strong>
  
<% end %>
</div>


<div>
 <p id="menu-bottom-p">

<%= link_to 'Edit', edit_course_lesson_slide_path(@course,@lesson,@slide) %> |
<%= link_to 'Back', course_lesson_slides_path(@course,@lesson) %> |

<% if not @slide.first? %>

  <%= link_to 'Previous', course_lesson_slide_path(@course,@lesson, @slide.higher_item) %> |
  
<% end %>

<% if not @slide.last? %>

  <%= link_to 'Next', course_lesson_slide_path(@course,@lesson, @slide.lower_item) %> |
  
<% end %>

<% if not @slide.root? %>

  <%= link_to 'Root', course_lesson_slide_path(@course,@lesson, @slide.parent) %> |
  
<% end %>

<% if @slide.has_children? %>

  <%= link_to 'Extra', course_lesson_slide_path(@course,@lesson, @slide.children.first) %>
  
<% end %>

<%= link_to 'download this page', course_lesson_slide_path(@course,@lesson,@slide, :download => true) %>



</p>

</div>




